{% for itemChild in item.article_filter.all %}
    <div class="col-xl-12">
        <div class="whats-right-single mb-20">
            <div class="row">
                <div class="col-md-4 col-12 whats-right-img">
                    <img src="{{ itemChild.image.url }}"
                        alt="{{itemChild.name}}" style="width: 100%; object-fit: cover;">
                </div>
                <div class="col-md-8 col-12 whats-right-cap">
                    <h4 style="font-size: 22px;"><a
                            href="{{ itemChild.get_absolute_url }}">{{itemChild.name}}</a></h4>
                    <p>
                    <p>{{itemChild.content | safe | truncatechars:200 }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}