{% extends "layout-nosidebar.html" %}
{% load static %}
{% block content %}
<div class="whats-news-wrapper">
    <!-- Heading & Nav Button -->

    <!-- Tab content -->
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12 d-flex align-items-center">
            <div>
                <img src="{{ 404_img_src }}" alt="" style="object-fit: cover; height: 40%;">
            </div>
        </div>
        <div class="col-md-8 col-sm-12 d-flex align-items-center">
            <div>
                <h2 class="notfound">Không tìm thấy đường dẫn này</h2>
                <h4 class="notfound">Bạn có thể truy cập vào trang chủ để đọc được nhiều tin tức</h4>
            </div>
        </div>
    </div>

</div>

{% endblock %}