{% extends "layout-sidebar.html" %}
{% load static %}
{% block content %}

<div class="whats-news-wrapper">
    <!-- Heading & Nav Button -->
    <div class="row justify-content-between align-items-end mb-15">
        <div class="col-xl-4">
            <div class="section-tittle mb-30 ml-2">
                <h3>{{ item_category.name }}</h3>
            </div>
        </div>
    </div>
    <!-- Tab content -->
    <div class="row">
        <div class="col-12">
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-news" role="tabpanel"
                    aria-labelledby="nav-news-tab">
                    <div class="row">

                        {% if items_article|length > 0 %}
                            {% if item_category.layout == 'list' %}
                                {% include "pages/category/list.html" %}
                            {% else %}
                                {% include "pages/category/grid.html" %}
                            {% endif %}
                        {% else %}
                                        <p class ="col-12 ml-12">Chưa có bài viết nào...</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </div>
</div>

<!--Start pagination -->
{% if paginator.num_pages  > 1 %}
    <div class="pagination-area  gray-bg pb-45 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% comment %} Xử lý dấu mũi tên trái {% endcomment %}
                                {% if items_article.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{items_article.previous_page_number}}">
                                            <i class="fas fa-arrow-left text-primary"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                
                                {% comment %} Xử lý active page hiện tại(hiện đậm) {% endcomment %}
                                {% for page in paginator.page_range %}
                                    {% if page == items_article.number  %}
                                        <li class="page-item active">
                                            <a class="page-link" href="#">{{page}}</a>
                                        </li>
                                    {% else  %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{page}}">{{page}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% comment %} Xử lý dấu mũi tên phải{% endcomment %}

                                {% if items_article.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{items_article.next_page_number}}">
                                            <i class="fas fa-arrow-right text-primary"></i>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End pagination  -->


{% endblock %}
