{% extends "layout-nosidebar.html" %}
{% load static %}
{% block content %}
<div class="whats-news-wrapper">
    <!-- Heading & Nav Button -->

    <!-- Tab content -->

    <h1>Điều Khoản Sử Dụng</h1>

    <h2>1. Chính Sách Bảo Mật</h2>

    <h3>1.1. Thu thập Dữ Liệu</h3>
    <p>Chúng tôi cam kết thu thập dữ liệu cá nhân một cách cẩn thận và tuân thủ quy định pháp luật hiện hành. Dữ liệu cá nhân được thu thập thông qua thông tin bạn công khai hoặc tự do cung cấp cho chúng tôi.</p>

    <h3>1.2. Sử Dụng Dữ Liệu</h3>
    <p>Chúng tôi sử dụng dữ liệu để tối ưu hóa trải nghiệm người dùng, phân phối quảng cáo và gửi thông tin sự kiện của Báo Xuân Thu.</p>

    <h3>1.3. Bảo Mật Dữ Liệu</h3>
    <p>Mọi thông tin cá nhân được bảo mật và không được chia sẻ với bên thứ ba, ngoại trừ trường hợp theo quy định của pháp luật.</p>

    <h3>1.4. Cập Nhật/Sửa Chữa và Xóa Dữ Liệu</h3>
    <p>Bạn có quyền cập nhật/sửa chữa và xóa dữ liệu cá nhân của mình. Để thực hiện điều này, vui lòng liên hệ qua email: lienhe@nvthanh.online. </p>

    <h2>2. Bản Quyền và Thương Hiệu</h2>
    <p>Mọi nội dung và hình ảnh trên trang web và ứng dụng của Báo Xuân Thu đều thuộc quyền sở hữu của Báo Xuân Thu và được bảo vệ theo quy định của Luật Sở Hữu Trí Tuệ và các văn bản liên quan khác.</p>
    <p>Mọi hành vi sao chép, phân phối, xuất bản nội dung thuộc Báo Xuân Thu mà không có sự chấp thuận trước bằng văn bản là vi phạm quyền sở hữu.</p>

    <h2>3. Miễn Trừ Trách Nhiệm</h2>
    <p>Trang web và ứng dụng của Báo Xuân Thu có thể liên kết đến các trang web khác. Chúng tôi không chịu trách nhiệm về nội dung và mọi vấn đề phát sinh liên quan đến việc sử dụng các địa chỉ liên kết này.</p>
    <p>Nội dung quảng cáo của bên thứ ba có thể xuất hiện trên Báo Xuân Thu. Mọi nội dung quảng cáo là trách nhiệm của nhà quảng cáo và chúng tôi không chịu trách nhiệm về nội dung, bao gồm lỗi hoặc thiếu sót.</p>

    <h2>4. Nội Dung Người Dùng Cung Cấp</h2>
    <p>Khi gửi bài viết, bình luận hoặc nội dung khác, bạn cho phép chúng tôi sử dụng chúng miễn phí và vô điều kiện trên toàn thế giới.</p>

    <h2>5. Ứng Dụng</h2>
    <p>Nội dung "Điều Khoản Sử Dụng" này áp dụng cho mọi ứng dụng của Báo Xuân Thu.</p>

    <h2>6. Thay Đổi Điều Khoản và Điều Kiện</h2>
    <p>Báo Xuân Thu có quyền thay đổi, bổ sung, thay thế và/hoặc cắt bỏ một phần hoặc toàn bộ các điều khoản và điều kiện mà không cần thông báo trước. Việc tiếp tục sử dụng trang web và ứng dụng của chúng tôi sau những thay đổi được công bố trên trang web sẽ được xem là chấp nhận các điều khoản mới.</p>

    <p>Mọi ý kiến đóng góp xin gửi về email: lienhe@nvthanh.online</p>


</div>

{% endblock %}